@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.headWord {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.headWord2 {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


img {
    height: 200px;
}

.col-xl-5 {
    margin-bottom: 30px;
    margin-top: 30px;
}

.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: auto;
    cursor:pointer;

}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-body {
    flex: 1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.card-text {
    margin: 0;
}

.card-img-wrapper {
    position: relative;
    overflow: hidden;
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Dark overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.card-img-wrapper:hover .card-overlay {
    opacity: 1;
}

.card-title-overlay {
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .headWord2 {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .card {
        flex-direction: row;
    }

    .card-img-top {
        max-width: 100px;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-text {
        font-size: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .headWord2 {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .card {
        flex-direction: row;
    }

    .card-img-top {
        max-width: 100px;
    }

    .card-title {
        font-size: 1.1rem;
    }

    .card-text {
        font-size: 1rem;
    }
}

@media (min-width: 769px) {
    .headWord {
        margin-top: 150px;
        text-align: center;
    }

    .headWord2 {
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    h1 {
        font-size: 4.3rem;
    }
    

    .card {
        flex-direction: column;
    }

    .card-img-top {
        max-width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-title {
        font-size: 1.7rem;
    }

    .card-text {
        font-size: 1.25rem;
    }
}



