<div class="container-fluid headWord">
    <div class="row">
        <div class="col">
            <h1>Clinical <span style="color: #09c;"> Cases</span></h1>
        </div>
    </div>
  </div>
  
  <div class="container headWord2">
    <div class="row">
        <div class="col">
            <h4>A full library of clinical cases into different branches of dentistry, made with passion by Dr. Ahmed Salama</h4>
        </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-xl-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-img-wrapper">
                    <img class="card-img-top" src="../../assets/images/case1.jpg" alt="Card image cap">
                    <div class="card-overlay">
                        <h4 class="card-title-overlay">Description1</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Case1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
  
        <!-- Card 2 -->
        <div class="col-xl-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-img-wrapper">
                    <img class="card-img-top" src="../../assets/images/case2.jpg" alt="Card image cap">
                    <div class="card-overlay">
                        <h4 class="card-title-overlay">Description2</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Case2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
  
        <!-- Card 3 -->
        <div class="col-xl-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-img-wrapper">
                    <img class="card-img-top" src="../../assets/images/case3.jpg" alt="Card image cap">
                    <div class="card-overlay">
                        <h4 class="card-title-overlay">Description3</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Case3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
  
        <!-- Card 4 -->
        <div class="col-xl-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-img-wrapper">
                    <img class="card-img-top" src="../../assets/images/case4.jpg" alt="Card image cap">
                    <div class="card-overlay">
                        <h4 class="card-title-overlay">Description4</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Case4</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
  
        <!-- Card 5 -->
        <div class="col-xl-3 col-md-4 col-sm-12">
            <div class="card">
                <div class="card-img-wrapper">
                    <img class="card-img-top" src="../../assets/images/case5.jpg" alt="Card image cap">
                    <div class="card-overlay">
                        <h4 class="card-title-overlay">Description5</h4>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Case5</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
  </div>