<div class="container-fluid headWord">
    <div class="row">
        <div class="col">
            <h1>Clinical <span style="color: #09c;"> Cases</span></h1>
        </div>
    </div>
  </div>
  
  <div class="container headWord2">
    <div class="row">
        <div class="col">
            <h4>A full library of clinical cases into different branches of dentistry, made with passion by Dr. Ahmed Salama</h4>
        </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-xl-3 col-md-4 col-sm-12" *ngFor="let card of cards">
            <div class="card"  (click)="navigateToDetails(card)">
                <div class="card-img-wrapper">
                    <img class="card-img-top" [src]="card.image" alt="Card image cap">
                    <!-- <div class="card-overlay">
                    </div> -->
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ card.title }}</h5>
                    <p class="card-text">{{ card.description }}</p>
                </div>
            </div>
        </div>
