<div class="container-fluid hero-section">
    <div class="row align-items-center justify-content-center text-center hero-content">
      <div class="col">
        <h1 id="typed-output" class="bebas-neue-regular text-white"></h1>
      </div>
    </div>
  </div>
  
  <div class="container-fluid p-1">
    <div class="row">
      <div class="col-md-7 d-flex align-items-center ">
        <h1 class="m-3 spaced-text">
          P R O F I L E
        </h1>
        <div class="vertical-line"></div>
        <h4 class="justified-text">
          Dedicated and compassionate general dentist with over one year's hands-on experience in clinical
          settings. Proven expertise in diagnosing and treating a wide range of dental conditions with a strong
          focus on patient care, Aesthetic, biomimetic dentistry, fixed and Endodontic procedures. Adept at
          utilizing the latest dental technologies, techniques, and knowledge to deliver high-quality care, seeking to
          leverage skills and experience to provide exceptional dental services in a dynamic practice.
        </h4>
      </div>
      <div class="col-md-5 p-0 d-flex justify-content-end align-items-center">
        <img src="../../assets/images/pic.jpg" width="500" alt="" class="img-fluid rounded-5 mt-5 mb-5">
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid">
    <div class="row no-gutters mt-5">
      <!-- Card 1 -->
      <div class="col-md-6 col-sm-12  mt-3">
        <div class="card-gradient card-1 p-4 text-white text-center">
          <h1 class="mb-4"><i class="fa-solid fa-graduation-cap"></i> E D U C A T I O N </h1>
          <h5>SECONDARY SCHOOL</h5>
          <p>Al-Rehab High School</p>
          <h5 class="mt-3">GRADUATED FROM ASSIUT UNIVERSITY</h5>
          <p>with a Very Good overall general grade, And GPA 77.14%
            Graduation year 2022-2023</p>
        </div>
      </div>
      <!-- Card 2 -->
      <div class="col-md-6 col-sm-12  mt-3">
        <div class="card-gradient card-2 p-4 text-white text-center">
          <h1 class="mb-4"><i class="fa-solid fa-briefcase"></i> E X P E R I E N C E </h1>
          <h5>DENTAL ASSISTANT FOR 8 MONTHS</h5>
          <p>From Sep.2022 till Apr.2023. With Dr. ahmed said</p>
          <h5>Second OPERATOR FOR 3 MONTHS</h5>
          <p>From May.2023 to Jul.2023, at Dr.Ahmed Al-Nahrawy center</p>
          <h5>OPERATOR FOR 6 MONTHS</h5>
          <p>from oct. 2023 to apr. 2024 at Dr. amr al-hadedy clinic</p>
          <h5>OPERATOR FOR 4 MONTHS</h5>
          <p>from may. 2024 to sep. 2024 at Dr. Mustafa sayed clinic</p>
        </div>
      </div>
      <!-- Card 3 -->
      <div class="col-md-6 col-sm-12 mt-3">
        <div class="card-gradient card-3 p-4 text-white text-center">
          <h1  class="mb-4"> <i class="fa-solid fa-trophy"></i> C E R T I F I C A T E </h1>
          <h5>Contemporary Endodontic Microscopic course
            with Prof.Ahmed Abdel Rahman Hashem</h5>
          <p>24 Credit Hours</p>
          <h5>Anterior composite restoration and diastema
            closure with Dr. Karim mowed</h5>
          <p>24 Credit Hours</p>
          <h5>YDA Aesthetics program with Prof. Maged zogody ‘veneers’ , Prof. Found haridy
            ‘ant.restorations’ , Dr.Omar sittin ‘perio’ , Dr.Nermeen nagy ‘Crown’ , Dr.M.ABD.Monem
            ‘DSD</h5>
          <p>72 Credit Hours</p>
          <h5>Online course ( Indirect restoration in the Biomimetic concept ) with profs   "David Alleman"  "Davey Alleman" "Ricardo Schafer"  "Andras Forster" "Farkas Peter"  "Lucas Queiroz Caponi"  "Andrea Fabianelli"</h5>
        <h5>Online Composite Resin Veneers Course with Dr.Felipe Bezerra</h5>
        </div>
      </div>
      <!-- Card 4 -->
      <div class="col-md-6 col-sm-12 mt-3">
        <div class="card-gradient card-4 p-4 text-white text-center">
          <h1  class="mb-4"><i class="fa-solid fa-puzzle-piece"></i> S K I L L S </h1>
          <h5>Professional Dental photography</h5>
          <h5> Professional case documentation</h5>
          <h5>Dental procedures using magnification ( loops , microscope )</h5>
          <h5>diagnosis and treatment planing</h5>
          <h5>Excellent with operating cases ( Endo - Fixed - Operative - Pedo )</h5>
          <h5>Ability to cope with anxious or difficult patients</h5>
          <h5>Forming a genuine connection with our patients</h5>
          <h5>Eagerness with learn advanced dental procedure</h5>
          <h5>Time managment and teamwork in dental practice</h5>
        </div>
      </div>
    </div>
  </div>
  
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col d-flex justify-content-end"> 
        <button class="button mt-5" (click)="goToCases()">Go To Cases</button> 
      </div>
    </div>
  </div>
   -->


   <div class="container-fluid headWord">
    <div class="row">
        <div class="col ">
            <h1>Clinical <span style="color: #09c;"> Departments</span></h1>
        </div>
    </div>
  </div>
  
   <div class="container-fluid">
    <div class="row">
      <swiper-container [breakpoints] ="breakpoints" loop="true" navigation="true"  >
        <swiper-slide 
        *ngFor="let card of cards" 
        class="slide"
        (click)="goToCases()"
      >
        <div class="card-wrapper">
          <div class="badge">
            <span>{{ card.title }}</span>
          </div>
          <div class="card-container">
            <img class="sliderImg" [src]="card.image" alt="{{ card.title }}" />
          </div>
        </div>
      </swiper-slide>
      </swiper-container>
    </div>
  </div>
  
   