<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sticky Footer</title>
</head>
<body>
  

  <footer class="footer text-center bg-black mt-5">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <div class="text-white p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          Contact me at 
        </div>

        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg social-link"
          href="https://www.facebook.com/profile.php?id=61554730126008&mibextid=LQQJ4d"
          role="button"
        >
          <i class="fab fa-facebook-f"></i>
        </a>

        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg social-link"
          href="https://www.instagram.com/dr.ahmed_salama06?igsh=MWlnODFpZjk3dHF4Zw%3D%3D&utm_source=qr"
          role="button"
        >
          <i class="fab fa-instagram"></i>
        </a>

        <!-- Gmail -->
        <a
          class="btn btn-link btn-floating btn-lg social-link"
          href="mailto:Ahmed.salamz181@gmail.com"
          role="button"
        >
          <i class="fas fa-envelope"></i>
        </a>

        <!-- WhatsApp -->
        <a
  class="btn btn-link btn-floating btn-lg social-link"
  href="https://wa.me/201099392132
  "
  role="button"
>
  <i class="fab fa-whatsapp"></i>
</a>

      </section>
      <!-- Section: Social media -->
    </div>
  </footer>

</body>
</html>
